* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    span {
        margin-right: 25px;
    }
    .active {
        color: red;
        font-size: 20px;
    }
}

section {
    flex: 1;
    overflow-y: auto;
    display: flex;
    background: #eee;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.swiper-container,
.swiper-wrapper,
.swiper-slide,
.swiper-slide img {
    width: 100%;
    height: 200px;
}

.menu {
    width: 100%;
    margin-top: 10px;
    background: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    .menutitle {
        width: 100%;
        line-height: 44px;
        border-bottom: 1px solid #ccc;
    }
    .menuList {
        width: 100%;
        // display: flex;
        // flex-direction: column;
        dl {
            width: 100%;
            height: 100px;
            display: flex;
            dt {
                flex: 3;
                padding: 10px 0;
                box-sizing: border-box;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }
            dd {
                flex: 7;
                padding: 10px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .con {
                    width: 60%;
                    display: flex;
                    color: #999;
                    justify-content: space-between;
                }
            }
        }
    }
}